
html { height: 100%; width: 100%; }
body { width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif; background: #D4E6F4;
	font-size: 13px; line-height: 15px; }
img { border: none; }
table, tr, td { border-collapse: collapse; vertical-align: top; font-size: 13px; line-height: 15px;}
a { color: #8D0D19;}

#header { height: 70px; margin: 0px; padding: 0px; text-align: left; 
	background: #999; color: #D4E6F4; }
#header h1 { padding: 1em; margin: 0px;}
#main { margin: 0px; padding: 0px; height: 600px; width: 100%; background: #FFF; }
#structure { height: 600px; width: 100%; }

/* Navigation */
#navigation { width: 150px; padding: 1em 2em; color: #D4E6F4; background: #CCC; }
#navigation a { color: #000; text-decoration: none; }
ul.subjects { padding-left: 0; list-style: none; }
ul.pages { padding-left: 2em; list-style: square; }
.selected { font-weight: bold; }

/* Page Content */
#page { padding-left: 2em; vertical-align: top; background: #FFF; }
#page h2 { color: #8D0D19; margin-top: 1em;}
#page h3 { color: #8D0D19; }

/* userTableData */
#userArrayTable td { border: 1px solid black; text-align: center; vertical-align: middle; width: 85px; table-layout: fixed; height: 30;}

#trHeader {	background: #CCC;}

#trHeader { font-weight: bold;}

#tr2  { background: #EEE;}
#tr4  { background: #EEE;}
#tr6  { background: #EEE;}
#tr8  { background: #EEE;}

